@media (max-width: 1350px) {
  /*Main page queries*/
  .nav-el a {
    font-size: 14px !important;
  }

  .main-nav ul {
    gap: 4px !important;
  }

  .logo {
    height: 64px;
  }

  .logo-scroll-down {
    height: 54px;
    transition: height 0.6s;
  }
}

@media (max-width: 1100px) {
  /*Main page queries*/
  .nav-el a {
    font-size: 12px !important;
  }

  .main-nav ul {
    gap: 2px !important;
  }

  .logo {
    height: 60px;
  }

  .logo-scroll-down {
    height: 48px;
    transition: height 0.6s;
  }

  .burger-menu {
    left: 70%;
    top: 10px;
  }

  .burger-icon,
  .menu-items a {
    font-size: 10px;
    padding: 8px;
    border-radius: 4px;
  }

  .burger-icon {
    width: 30px;
  }

  .menu-items {
    margin-top: 8px;
  }

  .top-header {
    padding: 8px 0;
    font-size: 12px;
  }

  .top-left {
    font-size: 12px;
    gap: 15px;
    padding: 8px;
  }

  .top-right {
    gap: 15px;
  }

  .social-icon {
    font-size: 12px;
    padding: 5px;
  }

  .bar-logo {
    height: 12px;
  }

  .top-right .bar-logo {
    height: 18px;
  }

  .footer {
    padding: 15px;
    font-size: 12px;
  }

  .current {
    border-radius: 5px !important;
    padding: 8px 10px;
  }
}

@media (max-width: 950px) {
  /*Main page queries*/
  .nav-el a {
    font-size: 9px !important;
  }

  .main-nav ul {
    gap: 2px !important;
  }

  .main-nav ul li {
    padding: 6px;
  }

  .logo {
    height: 50px;
  }

  .logo-scroll-down {
    height: 42px;
    transition: height 0.6s;
  }

  .footer {
    padding: 12px;
    font-size: 10px;
  }

  .current {
    border-radius: 5px !important;
    padding: 7px 9px !important;
  }
}

@media (max-width: 750px) {
  /*Main page queries*/
  .main-header {
    padding: 10px 0;
  }

  .main-nav ul {
    gap: 3px !important;
  }

  .main-nav ul li {
    padding: 2px;
  }

  .logo {
    height: 44px;
  }

  .logo-scroll-down {
    height: 36px;
    transition: height 0.6s;
  }

  .burger-menu {
    left: 65%;
    top: 10px;
  }

  .burger-icon,
  .menu-items a {
    font-size: 8px;
    padding: 6px;
  }

  .burger-icon {
    width: 26px;
  }

  .top-left {
    font-size: 10px;
    gap: 12px;
  }

  .top-right {
    gap: 12px;
    left: 84%;
  }

  .social-icon {
    font-size: 10px;
    padding: 4px;
  }

  .footer {
    padding: 10px;
    font-size: 8px;
  }

  .current {
    border-radius: 5px !important;
    padding: 6px 7px !important;
  }
}

@media (max-width: 650px) {
  /*Main page queries*/
  .container {
    width: 96%;
  }

  .logo {
    height: 38px;
  }

  .logo-scroll-down {
    height: 32px;
    transition: height 0.6s;
  }

  .burger-menu {
    left: 60%;
  }

  .main-nav ul {
    gap: 4px !important;
  }

  .current {
    border-radius: 4px !important;
    padding: 5px 5px !important;
  }

  .top-left {
    font-size: 8px;
    gap: 10px;
  }

  .top-right {
    font-size: 5px;
    gap: 10px;
  }
}

@media (max-width: 550px) {
  /*Main page queries*/
  .nav-el a {
    font-size: 7px !important;
  }
}

@media (max-width: 500px) {
  /*Main page queries*/
  .logo {
    height: 32px;
  }

  .logo-scroll-down {
    height: 26px;
  }

  .nav-el a {
    font-size: 6px !important;
  }

  .main-nav ul {
    gap: 3px !important;
  }

  .current {
    border-radius: 4px !important;
    padding: 4px 4px !important;
  }

  .top-left {
    font-size: 7px;
    gap: 8px;
  }

  .top-right {
    gap: 8px;
  }
}

@media (max-width: 450px) {
  /*Main page queries*/
  .logo {
    height: 28px;
  }

  .logo-scroll-down {
    height: 22px;
  }

  .nav-el a {
    font-size: 6px !important;
  }

  .main-nav ul {
    gap: 3px !important;
  }

  .burger-menu {
    left: 65%;
  }

  .current {
    border-radius: 4px !important;
    padding: 4px 4px !important;
  }

  .top-left {
    font-size: 7px;
  }

  .top-right {
    left: 84%;
    gap: 6px;
  }

  .social-icon {
    font-size: 8px;
    padding: 4px;
  }
}

@media (max-width: 380px) {
  /*Main page queries*/
  .burger-menu {
    left: 74%;
  }

  .top-right {
    left: 94%;
  }
}
