* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* General Reset */
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f9;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

/* Top Gray Header */
.top-header {
  display: flex;
  background: #e0e0e0;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(184, 115, 6);
  color: rgb(145, 89, 1);
}

.top-left {
  font-size: 16px;
  display: flex;
  float: left;
  gap: 15px;
  padding: 10px;
}

.top-right {
  float: right;
  display: flex;
  gap: 15px;
}

.bar-logo {
  height: 18px;
}

.social-icon {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

/* Middle Black Header */
.main-header {
  display: flex;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
  padding: 15px 0;
}

.logo-div {
  display: flex;
  float: left;
}

.logo {
  height: 80px;
}

.logo-scroll-down {
  height: 60px;
  transition: height 0.6s;
}

.logo-scroll-up {
  height: 80px;
  transition: height 0.6s;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}

.main-nav ul {
  height: 60%;
  list-style: none;
  display: flex;
  float: right;
  top: 50%;
  bottom: auto;
  gap: 10px;
  align-items: center;
}

.main-nav ul li {
  padding: 8px;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.3s;
}

.main-nav ul li a:hover {
  opacity: 0.7;
}

.current {
  background: rgb(145, 89, 1);
  border: 1px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

/* Scrollable Content */
.content {
  text-align: center;
}

/* Footer */
.footer {
  padding: 20px;
  background: #000;
  color: rgba(255, 255, 255, 0.8);
}

.hidden {
  display: none;
}

/* Others */
#main-container {
  width: 100%;
}
