/* About Section */
.about {
  margin-top: 20px;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, #f4f4f9, #7f7f88, black 80%);
}

.text-content {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  background-color: white;
  margin-left: 100px;
  border-radius: 10px;
  border-bottom-left-radius: 200px;
  border-top-left-radius: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-content p {
  margin-top: 60px;
  margin-right: 260px;
  line-height: 2;
  color: #b25819;
  font-weight: 600;
  font-style: italic;
}

.image-content {
  background: black;
}

.image-content img {
  width: 450px;
  height: auto;
}

/* Offer Section */
.offer {
  background: white;
  padding: 30px;
  border-radius: 10px;
  border-bottom-right-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 30px 100px 30px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer ul {
  list-style: square;
  padding: 0;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 30px;
}

.offer ul li {
  margin-left: 25%;
  font-size: 24px;
  padding: 5px;
}

.offer h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 31%;
  color: #b25819;
}

.offer ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

.offer ul li a:hover {
  color: #d2691e;
}

#fence-picture {
  width: 300px;
  border-radius: 50%;
  float: right;
  border: 2px solid rgba(184, 115, 6);
  margin-right: 30px;
  margin-top: 38px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#worker-picture {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin: 30px 120px 30px 30px;
  border: 2px solid rgba(184, 115, 6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
