/* Contact Section */
.contact-section {
  display: none;
  text-align: center;
  padding: 30px 20px;
  background: #f9f9f9;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Contact Information */
.contact-section h2 {
  font-weight: 600;
  color: #8d6605;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section .contact-info {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.contact-section .contact-details {
  text-align: left;
  font-size: 16px;
  margin-bottom: 25px;
}

.contact-section .contact-details p {
  margin: 8px 0;
}

.contact-section .contact-details a {
  color: #b87306;
  text-decoration: none;
  font-weight: bold;
}

.contact-section .contact-details a:hover {
  text-decoration: underline;
}

/* Contact Form */
.contact-section .contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-section .contact-form label {
  font-weight: bold;
}

.contact-section .contact-form input,
.contact-section .contact-form textarea {
  width: 580px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.contact-section .contact-form button {
  background: #b87306;
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-section .contact-form button:hover {
  background: #b87306;
  transform: scale(1.02);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s;
}

/* Scroll Space */
.contact-section .scroll-space {
  height: 50px;
}

.contact-section #message {
  resize: none;
}
