.offer-balustrade-section {
  display: none;
  background-color: #f5f5f5;
  color: #333;
  margin: 0px 10px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.offer-balustrade-section div {
  width: 60%;
  justify-self: center;
  margin: 40px auto 40px auto;
  justify-content: center;
}

.offer-balustrade-section h4 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 600;
  color: #8d6605;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-balustrade-section img {
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  justify-self: center;
}

.offer-balustrade-section p {
  max-width: 1000px;
  margin: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  align-content: center;
}

.offer-balustrade-section .btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 40px 10px 40px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  background: white;
  color: #b87306;
  border: 2px solid #b87306;
}

.offer-balustrade-section .btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s;
}

@media (max-width: 1350px) {
  .offer-balustrade-section div {
    width: 70%;
    margin: 30px auto 30px auto;
  }

  .offer-balustrade-section p {
    max-width: 800px;
    font-size: 14px;
    line-height: 1.6;
  }

  .offer-balustrade-section img {
    max-width: 500px;
    margin: 15px;
  }

  .offer-balustrade-section h4 {
    margin-top: 50px;
    font-size: 20px !important;
    padding: 6px 10px 6px !important;
  }

  .offer-balustrade-section .btn {
    padding: 12px 20px;
    margin: 30px 10px 30px 10px;
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  .offer-balustrade-section p {
    max-width: 700px;
    font-size: 12px;
    line-height: 1.3;
  }

  .offer-balustrade-section img {
    max-width: 400px;
    margin: 12px;
  }

  .offer-balustrade-section h4 {
    font-size: 16px !important;
    padding: 6px 10px 6px !important;
    margin-top: 40px;
  }

  .offer-balustrade-section .btn {
    padding: 10px 16px;
    margin: 30px 10px 30px 10px;
    font-size: 13px;
  }
}

@media (max-width: 950px) {
  .offer-balustrade-section div {
    width: 80%;
    margin: 20px auto 20px auto;
  }

  .offer-balustrade-section p {
    max-width: 600px;
    font-size: 10px;
    line-height: 1.2;
  }

  .offer-balustrade-section img {
    max-width: 350px;
    margin: 8px;
  }

  .offer-balustrade-section h4 {
    margin-top: 30px;
    font-size: 13px !important;
    padding: 6px 10px 6px !important;
  }

  .offer-balustrade-section .btn {
    padding: 8px 12px;
    font-size: 11px;
  }
}

@media (max-width: 750px) {
  .offer-balustrade-section div {
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .offer-balustrade-section p {
    max-width: 500px;
    font-size: 8px;
    line-height: 1.1;
  }

  .offer-balustrade-section img {
    max-width: 300px;
    margin: 4px;
  }

  .offer-balustrade-section h4 {
    margin-top: 20px;
    font-size: 11px !important;
    padding: 4px 8px 4px !important;
  }
}

@media (max-width: 650px) {
  .offer-balustrade-section p {
    font-size: 7px;
    line-height: 1.1;
  }

  .offer-balustrade-section img {
    max-width: 200px;
    margin: 4px;
  }

  .offer-balustrade-section h4 {
    font-size: 10px !important;
    padding: 4px 8px 4px !important;
  }

  .offer-balustrade-section .btn {
    padding: 6px 10px;
    margin: 20px 10px 20px 10px;
    font-size: 9px;
  }
}
