.offer-section {
  background-color: #f5f5f5;
  color: #333;
  margin: 0px 10px;
  margin-top: 10px;
  display: none;
}

.offer-section h2 {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 600;
  color: #b25819;
  margin-bottom: 40px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offer-section .offer-category {
  margin-bottom: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.offer-section .offer-category h3 {
  font-size: 28px;
  margin-bottom: 10px;
  background: #b25819;
  color: white;
}

.offer-section .subcategory {
  margin: 20px;
}

.offer-section .subcategory h4 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #444;
}

.offer-section .subcategory p {
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  align-content: center;
}

.offer-section .offer-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.offer-section .offer-gallery img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  justify-self: center;
}

.offer-section .offer-gallery p {
  max-width: 300px;
  margin: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
  color: #666;
  align-content: center;
}

.offer-section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2-column layout */
  gap: 20px;
}

.offer-section .subcategory {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.offer-section .subcategory .grid {
  gap: 10px;
}

.offer-section .subcategory .grid img {
  box-shadow: none;
  margin: 0px;
}

.offer-section .grid:first-child {
  grid-column: span 2;
}

.offer-section .grid h3 {
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-column: span 2;
}

@media (max-width: 768px) {
  .offer-section .fences-grid {
    grid-template-columns: 1fr; /* Stack items in a single column on small screens */
  }
}

/* Responsive */
@media (max-width: 768px) {
  .offer-section .offer-gallery {
    justify-content: center;
  }

  .offer-section .offer-gallery img {
    max-width: 100%;
  }
}
