.rates-section {
  display: none;
  height: 500px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.rates-section .rates-content {
  margin-top: 60px;
  font-size: 40px;
  font-weight: 600;
  color: #8d6605;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rates-section p {
  margin-top: 80px;
  text-align: left;
  font-size: 20px;
  margin-left: 30px;
  line-height: 1.6;
  width: 70%;
  margin-left: 15%;
  margin-right: auto;
  font-style: italic;
}
