.start-section {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.start-section .hero {
  background: url("hero.jpg") center/cover no-repeat;
  color: white;
  padding: 130px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .hero .hero-content p {
  color: #8f590eb1;
}

.start-section .hero-content {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  display: inline-block;
  border-radius: 10px;
}

.start-section .hero-content h1 {
  margin-bottom: 10px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.start-section .hero-content p {
  margin-bottom: 10px;
}

.start-section .btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
}

.start-section .primary {
  background: #b87306;
  color: white;
}

.start-section .secondary {
  background: white;
  color: #b87306;
  border: 2px solid #b87306;
}

.start-section .about,
.start-section .why-us,
.start-section .offer,
.start-section .automation,
.start-section .partners,
.start-section .projects {
  padding: 40px 20px;
}

.start-section .about {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: inline-block;
}

.start-section #image-section {
  background-image: url("../img/start/start.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  opacity: 90%;
  margin-bottom: 30px;
}

.start-section #first-header {
  margin-bottom: 20px;
}

.start-section .about p {
  text-align: left;
  line-height: 1.6;
  color: #f0f0f0c9;
}

.start-section .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
}

.start-section .last-doubled div:last-child {
  grid-column: span 2;
}

.start-section .card,
.start-section .offer-item {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .card {
  background-color: #e9e2ce;
  color: rgba(0, 0, 0, 0.796);
}

.start-section .card img {
  width: 80px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.start-section .card p {
  margin-bottom: 4px;
}

.start-section .offer-item img {
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.start-section .offer-item a {
  width: 100%;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.start-section .offer-item a span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 12px;
  border-radius: 5px;
}

.start-section .offer {
  margin-top: -70px;
}

.start-section .partners {
  background-color: white;
  border-radius: 12px;
  width: 30%;
  justify-self: center;
  margin-top: -30px;
  margin-bottom: 30px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .partners h2 {
  margin-bottom: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .partners-logos img {
  height: 60px;
  margin: 10px;
}

.start-section .projects img {
  width: 100%;
  border-radius: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .automation {
  margin-top: -30px;
}

.start-section .automation img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .automation h2 {
  margin-bottom: 10px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-section .automation p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(133, 70, 15);
}

.start-section #contact-footer {
  background-color: rgb(163, 122, 8);
  color: white;
  padding: 20px;
  width: 700px;
  margin: -50px auto 100px auto;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.start-section #contact-footer h2 {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.start-section #contact-footer p a {
  color: white;
}

.start-section .footer-text {
  margin-bottom: 10px;
}

/* Hover effects */
.start-section .offer img:hover {
  transform: scale(1.05);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s;
}

.start-section .btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s;
}
